# Logs
logs
*.log
npm-debug.log*
.DS_Store

# dotenv environment variables file
.env
.env.test

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and *not* Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
public

node_modules/