body {
  font-family: 'Courier Prime', monospace;
  background: mintcream; 
}

.title-container {
  position:relative;
}

h1 {
  width:100%;
  background: mintcream;
  margin: 0;
}

.content-container { margin-top: 40px; }

.index-page .content-container > div { display:inline-block; padding: 10px; }
.index-page .content-container img { width: 100%; height: auto;}

.image-page .title-container span { margin-top: 5px; display: inline-block; }
.image-page .content-container .image-container img { width: 100%; height: auto; }



@media screen and (min-width: 500px) {
  .index-page .content-container > div { padding: 40px; }
  .index-page .content-container img { height: 150px; }

  .image-page .content-container .image-container img { width: 75%; height: auto; }
}

@media screen and (min-width: 768px) {
  .image-page .content-container .image-container img { width: 50%; height: auto; }
}

@media screen and (min-width: 1280px) {
  .index-page .content-container > div { padding: 60px; }
}
